.navbarContainer {
  display: flex;
  width: 100%;
  min-height: 60px;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 75dvw;
  max-width: 100%;
}

.logo {
  font-size: 1.4rem;
  font-weight: 600;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.link {
  font-weight: 500;
  color: rgb(19, 19, 19);
}

.login {
  background-color: black;
  color: white;
  padding: 0.4rem 1.2rem;
  border-radius: 8px;
  font-weight: 500;
}